/**{*/
/*    border:1px solid white;*/
/*}*/
.editor{
    padding:10px;
    height:100%;
}
.ql-toolbar {
    background: rgb(163, 207, 167);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
    color:rgb(163, 207, 167);
}

.ql-container {
     min-height: 10em;
     border-bottom-left-radius: 0.5em;
     border-bottom-right-radius: 0.5em;
     background: #09111b;
     color:white;
 }

.grid{
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    counter-reset: boxes;
    place-items: center;
}
.btn-del{
    position: absolute;
    top:0;
    right:0;
    margin:0px 10px;
    cursor: pointer;
}
.btn-update{
    position: absolute;
    top:0;
    right:50px;
}