/**{*/
/*    border:1px solid white;*/
/*}*/
.editor {
    padding: 10px;
    height: 100%;
    box-shadow: #000000 0px 0px 0px 2px inset, rgb(238, 238, 241) 8px -4px 0px -1px, rgb(0, 0, 0) 8px -4px;
    margin: 30px;
}

.ql-toolbar {
    background: rgb(238, 238, 241);
    border-bottom: none;
    color: rgb(163, 207, 167);
    border: none !important;
}

.ql-container {
    min-height: 10em;
    background: #eeeef1;
    color: black;
    border: none !important;
}

.grid {
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    counter-reset: boxes;
    place-items: center;
}

.btn-del {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-update {
    position: absolute;
    top: 0;
    right: 50px;
}