/**{*/
/*    border:1px solid white;*/
/*}*/
.editor{
    padding:10px;
    height:100%;
}
.ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
}
.ql-container {
     min-height: 10em;
     border-bottom-left-radius: 0.5em;
     border-bottom-right-radius: 0.5em;
     background: #fefcfc;

 }
.grid{
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    counter-reset: boxes;
}